<!DOCTYPE html>
<html>

<head>
    <title>
        Dash
    </title>
</head>

<body>
    <div style="text-align:center;">
        <h1>
            CITS3002
        </h1>
        <h2 id="heading">

        </h2>
        <div style="margin-top: 10vh">
            <h3>
                Progress
            </h3>
            <div id="results"></div>
            <div id="remaining"></div>
            </div>
            <a href="/question">MCQ Questions!</a><br/>
            <a href="/pquestion">Programming question!</a>

        </div>
    </div>
</body>
<script>
    document.getElementById("heading").innerHTML = "Welcome " + window.localStorage.uname;
    function getMarks() {
        var xhr = new XMLHttpRequest();
        if (window.localStorage.token && window.localStorage.uname) {
            sendDat = { 'uname': window.localStorage.uname, 'token': window.localStorage.token}
            xhr.open('POST', "/getResults", true);
            xhr.send(JSON.stringify(sendDat));
            function processRequest(e) {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    var percent = response.total/response.out*100;
                    document.getElementById("results").innerHTML = percent.toFixed(2) + '%';
                    remain = 0;
                    response.done.forEach(element => {
                        if(!element) remain++;
                    });
                    document.getElementById("remaining").innerHTML = remain+" questions remaining";
                }
            }
        }
        else {
            //error
        }
        xhr.addEventListener("readystatechange", processRequest, false);
    }
    getMarks();
</script>

</html>