<!DOCTYPE html>
<html style="height: 100%;">

<head>
    <title>Home</title>
    <style>
        button:hover {
            cursor: pointer;
        }
    </style>
</head>

<body style="height: 100%;">
    <div style="text-align:center; padding-bottom: 75px;">
        <h1> CITS3002: Networks and Security<br> Project</h1>
        <div style="margin-top: 30vh">
            <button style="height: 30px; width: 250px" onclick="location.href='/login'">
                Go to Login Page
            </button>
        </div>
    </div>
    <div style="float: right; text-align: left; height: 150px; width: 250px; margin-top: 50px;">
        <p>
            <h4>Project done by:<br></h4>
            Neosh Sheikh (21959462)<br> 
            Jeremiah Pinto (21545883)<br> 
            Cameron Wright (21958958)<br>
        </p>
    </div>
</body>

</html>