<!DOCTYPE html>
<html>

<head>
    <title>
        Login
    </title>
</head>

<body>
    <div style="text-align:center;">
        <h1>
            CITS3002
        </h1>
        <div style="margin-top: 30vh">
            <h2>
                Login
            </h2>
            <form>
                <label for="#username">Username</label>
                <br>
                <input id="username" type="text">
                <br>
                <label for="#password">Password</label>
                <br>
                <input id="password" type="password">
                <br>
                <button id="loginbut" type="button" onclick="tryLogin()">Login</button>
            </form>
        </div>
    </div>
    <script src="login.ctrl.js"></script>
</body>

</html>