<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <style>
        input {
            padding: 5px;
            height: 15px;
            width: 200px;
            margin: 2px;
        }
        #loginbut:hover {
            cursor: pointer;
        }
    </style>
</head>

<body style="text-align:center;">
    <h1> CITS3002: Networks and Security <br> Project </h1>
    <div style="margin: 30vh auto; width: 22%; overflow: hidden;">
        <form action="questions" method="GET">            
            <fieldset style="padding: 3vh; margin: 0 0 1vh 0;">
                <legend style="text-align:left; font-size: 20px;">Login :</legend>
                <input id="username" type="text" placeholder="Username" required><br>
                <input id="password" type="password" placeholder="Password" required><br>
            </fieldset>
            <input id="loginbut" type="submit" value="Login" onclick="event.preventDefault(); tryLogin();" style="float:right; height: 30px; width: 75px;">                
        </form>
    </div>
    <script src="login.ctrl.js"></script>
</body>

</html>