<!DOCTYPE html>
<html>

<head>
    <title>Programming Questions</title>
    <style>
        button:hover {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div style="text-align:center;">
        <button onclick="logout()" style="float: right; height: 30px; margin-right: 30px;">Logout</button>
        <h1> CITS3002: Networks and Security <br> Project </h1>
        <h2>Answer the following questions</h2>
        <div style="margin: 5vh 0; display: block; overflow: hidden;  padding: 0 20px;">
            <button style="float: left; height: 25px;" onclick="moveQ(-1)"> Previous Question</button>
            <button style="float: right; height: 25px;" onclick="moveQ(1)"> Next Question</button>
        </div>
        <div style="text-align: right; display: block; overflow: hidden; margin-bottom: 15px; width: 90vw;">
            <span id="mark"></span>
            <br>
            Number of tries :
            <span id="tries"/>
            <br/>
        </div> 
        <div style="margin-top: 5vh">
            <h4 id="Question"></h4>

            <div id="function"></div>
            <br>
            <div style="margin: 0 auto 10px; width: 70vw; height: 60vh; display: block;">
                <textarea id="input" spellcheck="false" style="resize: none; width: 100%; height: 45vh; padding: 15px;" autofocus></textarea>
                <div style="float: none; text-align: center; display: block; padding-top: 15px;">
                    <span id="status"></span>
                    <input id="confirm" type="button" style="height: 26px; margin-top: 10px; float: right;" onclick="submit();" value="Confirm Answer">
                </div> 
            </div>

            <div style="margin-bottom: 50px;">
                <a style="margin-bottom: 50px;" href="/dash">
                    Back to Dashboard
                </a>
            </div>
        </div>
    </div>
    <script src="/logout.js"></script>
    <script src="/pQuestionPage.ctrl.js"></script>
</body>
</html>
